<div class="container-fluid d-flex">
<div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/home.webp" class="card-img-top " alt="...">
    <div class="card-body ">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Home</a>
     
    </div>
  </div>
  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/forums.webp" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Forums</a>
     
    </div>
  </div>
  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/bulbapedia_logo.webp" class="card-img-top " alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Bulbapedia</a>
    </div>
  </div>

  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/archives.webp" class="card-img-top " alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Archives</a>
     
    </div>
  </div>
  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/bulbanews.webp" class="card-img-top " alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Bulbanews</a>
     
    </div>
  </div>
  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/bulbacast.webp" class="card-img-top " alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Bulbacast</a>
     
    </div>
  </div>
  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/handbooks.webp" class="card-img-top " alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Handbooks</a>
     
    </div>
  </div>

  <div class="card text-center align-middle py-5" style="width: 8rem;">
    <img src="/assets/discord.webp" class="card-img-top " alt="...">
    <div class="card-body">
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Discord</a>
     
    </div>
  </div>
</div>
    