<div class="titleCard text-center">
    <div class="card-header">
      </div>
    <div class="titleCard-body">
      <h5 class="titleCard-title">Welcome to Bulbapedia Archives!</h5>
      <p class="titleCard-text">The Bulbagarden Archives are an integral part of the Bulbawiki system. The Archives host the sprites, screenshots, scans and animations used on Bulbapedia, Bulbanews, and Bulbagarden's other projects. Ideally, all images used on the Bulbawiki Network will be stored on the Archives. We do not seek to store every Pokémon-related image on the internet, merely those relevant to the encyclopedia and news services that Bulbagarden provides.

        We have 194,393 uploaded files.
        
        If you have any questions, first see the 
        <a href="#" class="card-link">FAQ page</a>
        . If this doesn't help, find an active<a href="#" class="card-link">staff</a>
        member.</p>
    
    </div>
    <div class="card-footer">
        <a href="#" class="card-link">Upload</a> • <a href="#" class="card-link">Log</a> • <a href="#" class="card-link">New Files</a> • <a href="#" class="card-link">Images</a> • <a href="#" class="card-link">Texts</a> • <a href="#" class="card-link">Policy</a> •<a href="#" class="card-link">FAQ</a> • <a href="#" class="card-link">To-do List</a> •<a href="#" class="card-link">Staff</a>
      </div>
   
  </div>