<div class="titleCard text-center">
    <div class="card-header">
      </div>
    <div class="titleCard-body">
      <h5 class="titleCard-title">Welcome to Bulbacast!</h5>
      <p class="titleCard-text"><a href="#" class="card-link">Bulbacast</a>is the original <a href="#" class="card-link">Pokémon</a> podcast by <a href="#" class="card-link">Bulbagarden</a>
        Since its launch in December 2005, Bulbacast has had seven seasons. Episodes from the seventh season of Bulbacast are currently in production and are being released periodically
        .</p>
    
    </div>
    <div class="card-footer">
        <a href="#" class="card-link">Episode List</a> 
      </div>
   
  </div>